.header-cont {
    width: 100%;
    position: fixed;
    top: 0px;
    alignment: center;
    z-index: 1000;
}

.header {
    height: 50px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    width: 70%;
    margin: 0px auto;
}

.menu {
    float: right;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 15px;
}

.logo {
    float: left;
    font-size: 20px;
    margin-left: 15px;
    padding-top: 15px;
}

.user {
    float: left;
    margin: 15px auto auto 30px;
}

.user input {
    background: 0;
    border: 0px;
    font-size: 20px;
    color: #00a1d2;
}

.user input:hover {

    padding: 10px;
    color: #FFFFFF;
    background: #00a1d2;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #999999;
}






